html {
    box-sizing: border-box;
    font-family: "Playfair Display"; 
    color: black;
    background-color: white;
    margin: 0;
    font-family: "Nunito";
}

body {
    margin: 0;
}


h1 { 
    text-align: center;
    letter-spacing: 3px;
    margin: 3vw 10vw 0vw 10vw;
    font-size: calc(30px + 0.390625vw);
}

h2 { 
    font-family: DM Serif Display;
    text-align: center;
    font-weight: 500;
    font-size: calc(20px + 0.390625vw);
    letter-spacing: 1.5px;
    margin: 0vw;
}

p {
    font-size: calc(15px + 0.390625vw);
    margin-top: calc(10px + 0.390625vw);
}

.vline {
    position: relative;
    border-left: 2px solid #354F52;
    border-right: 2px solid #354F52;
    height: calc(40px + 0.390625vw);
    width: 0;
    border-radius: 2px;
    content: "";
}

a {
    color: black;
    font-size: calc(20px + 0.390625vw);
    margin: 3px;
}

/*-------------------------------
------------ HEADER -------------
---------------------------------*/



.banner {
    display: inline-block;
    border-top: 4px solid #354F52;
    border-bottom: 4px solid #354F52;
    border-radius: 2px;
    padding: calc(10px + 0.390625vw) calc(30px + 0.390625vw) calc(10px + 0.390625vw) calc(30px + 0.390625vw);
    margin-top: calc(30px + 0.390625vw);
    font-size: calc(25px + 0.390625vw);
    
}

.intro {
    display: inline-block;
    font-size: calc(15px + 0.390625vw);
}



/*-------------------------------
---------- CONTAINER ------------
---------------------------------*/



.container {
    display: flex;
    margin: calc(30px + 0.390625vw) 15vw calc(30px + 0.390625vw) 15vw;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.tableauPlaceholder {
    margin: 2vw 0vw 2vw 0vw;
}

/*-------------------------------
------------ FOOTER -------------
---------------------------------*/



footer {
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vw;
}

footer ul {
    list-style: none;
    display: flex;
    padding-left: 0vw;
    font-size: calc(15px + 0.390625vw);
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    
}

footer li {
    display: block;
    padding-bottom: 1vw;
    padding-left: 0.5vw;
}

.set {
    display: none;
}


.caption{
    display: none;
}
