html {
    box-sizing: border-box;
    font-size: 1.3vw;
    font-family: "Montserrat", sans-serif; 
    color: #303193;
    background-color: white;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    width: calc(73px + 9vw);
    height: auto;
    object-fit: contain;
    padding-top: 1vw;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0vw 13vw 1vw 13vw;
    font-size: 1vw;
}


/*-------------------------------

------------ NAVBAR -------------

---------------------------------*/



.navbar {
    display: flex;
    justify-content: space-between;
    text-shadow: 1px 1px 15px rgba(0,0,0,0.2);
    font-size: 1vw;
    color: #303193;
    font-weight: 600;
    padding-top: 2vw;
    margin-left: 13vw;
    margin-right: 13vw;
    padding-bottom: 1vw;
}

.brand-title {
    font-size: 2vw;
    font-family: 'Bodoni Moda';
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    color: #303193;
    font-weight: 800;
    align-self: flex-end;
    margin-bottom: 0;
}

.brand-title a {
    display: block;
    text-decoration: none;
    color: #303193;
    margin-bottom: 0;
}

.navbar-links {
    display: flex;
    align-items: flex-end;
}

.navbar-links ul {
    display: flex;
    margin-left: 2vw;
    align-items: flex-end;
}

.navbar-links li {
    list-style: none;
    margin-left: 2vw;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    margin-left: 2vw;
    color: #303193;
}

.navbar-links li:hover {
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: #303193;
    font-family: 'Montserrat';
}

/* Style for the dropdown button */
.dropdown .dropdown-btn {
    padding: 0px;
    background-color: white;
    border: none;
    cursor: pointer;
    color: #303193;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 1vw;
}

/* Style for the dropdown content */
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style for the dropdown links */
.dropdown .dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #303193;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 1vw;
}

/* Style for the dropdown links on hover */
.dropdown .dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown content when the dropdown button is hovered */
.dropdown:hover .dropdown-content {
    display: block;
}



/*-------------------------------

------------ BANNER -------------

---------------------------------*/


.banner {
    background-image: url(pictures/banner.jpg); 
    background-color: #303193;
    background-repeat: repeat;   
    background-size: 100% auto;
    height: 20vw;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



.banner h1 {
    font-size: 1.4vw;
    color: white;
    font-weight: 400;
    font-family: 'Montserrat';
    align-self: center;
    letter-spacing: 3px;
}


/*-------------------------------

---------- CONTAINER ------------

---------------------------------*/

.center {
    display: flex;
    flex-direction: column;
    object-fit: contain;
}


.container {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    margin-left: 13vw;
    margin-right: 13vw;
    margin-bottom: 5vw;
    flex-grow: 1;
}

.container h1 {
    margin-top: 0vw;
    font-size: 1.4vw;
    font-weight: 600;
}

.container h2 {
    margin-top: 0vw;
    font-size: 1.4vw;
    font-weight: 600;
}

.columns {
    display: flex;
    flex-direction: row;
    font-size: 1.1vw;
}

.column1 {
    width: 50%;
    height: auto;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
}

.column2 {
    width: 50%;
    height: 20vw;
    margin-left: 2vw;
    overflow: hidden;
}

.main-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 1vw;
    padding-left: 1vw;
    border-left: 2px solid #02B8CE;
}

.main-list li {
    margin-bottom: 1vw;
    margin-right: 1vw;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    font-size: 1.1vw;
}

.unbold {
    font-weight: 400;
    margin-left: 1vw;
}

.main-list-item {
    font-weight: 600;
    font-size: 1.1vw;
    padding-bottom: 1vw;
}


.nested-list {
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    margin-top: 1vw;
    margin-left: 2vw;
    margin-bottom: 5vw;
    font-size: 1.1vw;
    list-style: none;
}

.nested-list li {
    margin-bottom: 1vw;
    margin-right: 0vw;
    font-weight: 400;
    font-size: 1.1vw;
}



/*-------------------------------

------------ FOOTER -------------

---------------------------------*/

footer {
    background-color: #3A66E3;
    color: white;
    display: flex;
    padding: 1vw 8vw 1vw 8vw;
    justify-content: space-between;
    flex-shrink: 0;
}

footer li {
    padding-bottom: 1vw;
    padding-left: 0.5vw;
}

footer img {
    filter:  brightness(0) invert(1);
    width: auto;
    height: 5vw;
}