html {
    box-sizing: border-box;
    font-family: "Playfair Display"; 
    color: black;
    background-color: white;
    margin: 0;
    font-family: "Nunito";
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 { 
    text-align: center;
    letter-spacing: 3px;
    margin: 3vw 3vw 0vw 10vw;
    font-size: 30px;
}

h2 { 
    font-family: DM Serif Display;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1.5px;
    margin: 0vw;
}

p {
    font-size: 15px;
    margin: 2vw 0vw 0vw 0vw;
}

.vline {
    position: relative;
    border-left: 2px solid #354F52;
    border-right: 2px solid #354F52;
    height: 7vh;
    width: 0;
    border-radius: 2px;
    content: "";
    margin: 2vw 0vw 2vw 0vw;
}

a {
    color: black;
    font-size: 20px;
    margin: 0vw;
}

/*-------------------------------
------------ HEADER -------------
---------------------------------*/



.banner {
    display: inline-block;
    border-top: 4px solid #354F52;
    border-bottom: 4px solid #354F52;
    border-radius: 2px;
    padding: 2vh 4vh 2vh 4vh;
    margin-top: 3vw;
    font-size: 25px;
    
}

.intro {
    display: inline-block;
    font-size: 15px;
}



/*-------------------------------
---------- CONTAINER ------------
---------------------------------*/



.container {
    display: flex;
    margin: 3vw 3vw 3vw 3vw;
    flex-direction: column;
    text-align: left;
    align-items: center;
    width: 800px;
}

.tableauPlaceholder {
    margin: 2vw 0vw 2vw 0vw;
}

.caption{
    display: none;
}




/*-------------------------------
------------ FOOTER -------------
---------------------------------*/



footer {
    display: flex;
    padding: 0vw 10vw 0vw 10vw;
}

footer ul {
    list-style: none;
    display: flex;
    padding-left: 0vw;
    font-size: 20px;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    
}

footer li {
    display: block;
    padding: 0vw 2vw 2vh 2vw
}
